

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="index-2.html">Bracket</a>
          <a class="breadcrumb-item" href="#">Tables</a>
          <span class="breadcrumb-item active">Data Table</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">Music Data</h4>
      </div>

      <div class="br-pagebody">
          

        
 
        <table class="table table-bordered table-colored table-primary">
            <thead>
              <tr>
                <th class="wd-40p">Music Title</th>
                <th class="wd-15p">Music Category</th>
                <th class="wd-15p">Music Sub-Category</th>
                <th class="wd-10p">Music Key</th>
                <th class="wd-10p">Action</th>
                <th class="wd-10p">Delete</th>


              </tr>
            </thead>
            <tbody>
              {{#each music}}
              <tr>
                <td style="font-weight: 700;">{{music_title}}</td>
                <td>{{music_category}}</td>
                <td>{{music_subcategory}}</td>
                <td>{{music_key}}</td>
                <td><a href="/music/edit?id={{_id}}" class="btn btn-teal btn-block mg-b-10">Edit</a></td>
                <td><a href="/api/v1/get/music/delete?music_key={{music_key}}" class="btn btn-danger btn-block mg-b-10">Delete</a></td>
              </tr>
              {{/each}}
              
            </tbody>
          </table>



      </div><!-- br-pagebody -->
      
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->


